@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in Scarpe & CO!</h1>
    <p><a class="nav-link text-decoration-underline" asp-area="" asp-controller="Articolo" asp-action="Index">Clicca qui per visualizzare la vetrina dei tuoi articoli</a></p>
</div>
