@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in Scarpe & CO!</h1>
    <p style="font-size: 34px !important; margin-top: 24px;">Cosa vuoi fare oggi?</p>
    @* <p><a class="nav-link text-decoration-underline" asp-area="" asp-controller="Articolo" asp-action="Index">Clicca qui per visualizzare la vetrina dei tuoi articoli</a></p> *@
    <div class="container d-flex justify-content-center gap-5">
    <p class="homeBtn"><a class="text-decoration-none text-white" asp-area="" asp-controller="Articolo" asp-action="Index">Voglio vedere la vetrina!</a></p>
    <p class="homeBtn">Voglio fare un nuovo ordine!</p>
    </div>
</div>
